.report-card {
  max-width: 400px;
  margin: 20px;
}

.org-header-image {
  background-image: url('../../assets/images/organization_icon.png');
  background-size: cover;
}
.inv-header-image {
  background-image: url('../../assets/images/seguridad.jpg');
  background-size: cover;
}
.asig-header-image {
  background-image: url('../../assets/images/asignacion-icon.png');
  background-size: cover;
}
