<mat-card>
  <mat-card-header><h3>Datos de accidente</h3></mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <label class="labels">Id: </label>
        <p>{{accidentdata.accidentKey}}</p>
      </mat-list-item>
      <mat-list-item>
        <label class="labels">Titulo: </label>
        <p>{{accidentdata.title}}</p>
      </mat-list-item>
      <mat-list-item>
        <label class="labels">Codigo: </label>
        <p>{{accidentdata.code}}</p>
      </mat-list-item>
      <mat-list-item>
        <label class="labels">Fecha del suceso: </label>
        <p>{{accidentdata.dateEvent}}</p>
      </mat-list-item>
      <mat-list-item>
        <label class="labels">Descripcion del suceso: </label>
        <p>{{accidentdata.describeIssue}}</p>
      </mat-list-item>
      <mat-list-item>
        <label class="labels">Nivel de Riesgo: </label>
        <p>{{accidentdata.levelRiskId}}</p>
      </mat-list-item>
      <mat-list-item>
        <label class="labels">Tipo de Riesgo: </label>
        <p>{{accidentdata.accidentTypeKey}}</p>
      </mat-list-item>
      <mat-list-item>
        <label class="labels">Id de empleado: </label>
        <p>{{accidentdata.employeeKey}}</p>
      </mat-list-item>
      <mat-list-item>
        <label class="labels">Estado: </label>
        <p>{{accidentdata.status}}</p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

