<mat-toolbar fxLayout="row" mat-dialog-title color="primary">
  <div fxFlex>
    Editar Politica
  </div>
  <span fxFlex class="flex-spacer"></span>
  <div fxFlex  align="end">
    <button mat-button mat-dialog-close>&times;</button>
  </div>
</mat-toolbar>

<form novalidate #politicForm="ngForm" (ngSubmit)="update()">
  <div class="example-container">
    <mat-dialog-content>
      <mat-form-field>
        <input matInput placeholder="Politica" type="text" [(ngModel)]="politic.politicsName" name="politicsName"
               required #politicsName="ngModel">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Descripcion" [(ngModel)]="politic.politicsDesc" name="politicsDesc"></textarea>
      </mat-form-field>
      <br>
    </mat-dialog-content>
    <mat-dialog-actions>
      <span class="flex-spacer"></span>
      <button mat-button mat-dialog-close>Cancelar</button>
      <button type="submit" mat-button class="background-primary text-floral-white"  [disabled]="politicForm.form.invalid" >Actualizar</button>
    </mat-dialog-actions>
  </div>
</form>

