.mat-toolbar.mat-primary {
  background: #DD2C00;
  color: #fff;
}

.background-primary {
  background-color: #DD2C00 !important;
}
.mat-form-field {
  display: block;
  position: relative;
  text-align: left;
}
