<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">
  <div fxFlex>
    <div>
      <h3 mat-line align="center"> Lista de Politicas</h3>
      <hr>
    </div>

    <span class="flex-spacer"></span>
    <a mat-button (click)="openNewPolitic()"><h2 class="fa fa-user-circle fa-lg"> Nueva Politica</h2></a>
    <div fxLayout="column" fxlayout.gt-sm="row">
      <div fxFlex="50">
        <mat-list>
          <mat-list-item *ngFor=" let politic of politics?.object">
            <h3 mat-line>{{politic.politicsName}} </h3>
            <h4 mat-line>{{politic.politicsDesc}} </h4>
            <a mat-button (click)="openViewForm(politic)"><h2 class="fa fa-eye fa-lg"></h2></a>
            <a mat-button (click)="openEditForm(politic)"><h2 class="fa fa-pencil-square fa-lg"></h2></a>
            <a mat-button (click)="openDeleteForm(politic)"><h2 class="fa fa-trash fa-lg"></h2></a>
            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>
