
<mat-toolbar fxLayout="row" mat-dialog-title color="primary">
  <div fxFlex>
    Nuevo Registro de Tipo de Equipo
  </div>
  <span fxFlex class="flex-spacer"></span>
  <div fxFlex  align="end">
    <button mat-button mat-dialog-close>&times;</button>
  </div>
</mat-toolbar>
<form novalidate #equipmentTypeForm="ngForm" (ngSubmit)="create()">
  <mat-dialog-content>
    <p>
      <mat-input-container dividerColor="{{name.invalid && !name.pristine ? 'warn' : 'primary'}}">
        <textarea id="TipoEquipoIndumentaria" matInput placeholder="Equipo o Indumentaria" type="text" [(ngModel)]="equipmentType.name" name="name" #name="ngModel" required></textarea>
        <mat-hint>
         <span [hidden]="name.pristine">
         </span>
        </mat-hint>
      </mat-input-container>
    </p>
    <p>
      <mat-input-container  dividerColor="{{description.invalid && !description.pristine ? 'warn' : 'primary'}}">
        <textarea id="TipoDescripcion" matInput placeholder="Descripci&oacute;n" [(ngModel)]="equipmentType.description" name="description" #description="ngModel" >
        </textarea>
        <mat-hint>
         <span [hidden]="description.pristine">
         </span>
        </mat-hint>
      </mat-input-container>
    </p>
 </mat-dialog-content>
  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button id="creartipoEquipo" type="submit" name="create" mat-button class="background-primary text-floral-white"  [disabled]="equipmentTypeForm.form.invalid" >Crear</button>
  </mat-dialog-actions>
</form>
