<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">


  <div fxFlex="50">

    <div>
      <h3 mat-line align="center"> Lista de accidentes</h3>
      <hr>
    </div>

    <span class="flex-spacer"></span>
    <a mat-button (click)="openNewAccident()" name="RegistrarAccidente" id="RegistrarAccidente"><h2
      class="fa fa-user-circle fa-lg"> Registrar accidente</h2></a>
    <div fxLayout="column" fxlayout.gt-sm="row">
      <div fxFlex="50">
        <mat-list>
          <mat-list-item *ngFor=" let accident of accidents?.object" id="listAccidents">

            <h3 mat-line>{{accident.code}} </h3>
            <a mat-button (click)="openViewForm(accident)"><h2 class="fa fa-eye fa-lg"></h2></a>
            <a mat-button (click)="openEditForm(accident)"><h2 class="fa fa-pencil-square fa-lg"></h2></a>
            <a mat-button (click)="openDeleteForm(accident)"><h2 class="fa fa-trash fa-lg"></h2></a>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>
