.mat-toolbar.mat-primary {
  background: #DD2C00;
  color: #fff;
}

.background-primary {
  background-color: #DD2C00 !important;
}
.login_alert{
  color: #900000;
  font-weight: bold;
  font-size: 13px;
  text-align: right;
  width: 100%;
  display: inline-block;
}
