<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">
  <div fxFlex>
    <div>
      <h3 mat-line align="center"> Lista de Asignación de Equipos</h3>
      <hr>
    </div>

    <span class="flex-spacer"></span>
    <a name="new_assignment" id = "new_assignment" mat-button (click)="openNewAssignment()"><h2 class="fa fa-user-circle fa-lg"> Nueva Asignación</h2></a>
    <div fxLayout="column" fxlayout.gt-sm="row">
      <div fxFlex="50">
        <mat-list name="assignmentsEmployeeList" >
          <mat-list-item  *ngFor=" let equipmentAssignment of equipmentAssignments">
            <h3 mat-line>{{equipmentAssignment.employeeName}} </h3>
            <a name="view_assignment" id = "view_assignment" mat-button (click)="openViewForm(equipmentAssignment)" title="Ver asignación"><h2 class="fa fa-eye fa-lg"></h2></a>
            <a name="edit_assignment" mat-button (click)="openEditForm(equipmentAssignment)" title="Editar asignación"><h2 class="fa fa-pencil-square fa-lg"></h2></a>
            <a name="delete_assignment" mat-button (click)="openDeleteForm(equipmentAssignment)" title="Eliminar asignación"><h2 class="fa fa-trash fa-lg"></h2></a>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>
