<mat-toolbar fxLayout="row" mat-dialog-title color="primary" id="dialog-delete">
  <div fxFlex>
    Confirmar eliminación
  </div>
  <span fxFlex class="flex-spacer"></span>
  <div fxFlex  align="end">
    <button mat-button mat-dialog-close>&times;</button>
  </div>
</mat-toolbar>
<mat-dialog-content>
  <h5>Esta seguro de eliminar el registro de accidente?</h5>
</mat-dialog-content>
<mat-dialog-actions>
  <span class="flex-spacer"></span>
  <button id="cancel" mat-button mat-dialog-close>Cancelar</button>
  <button mat-button mat-button id="delete" class="background-primary text-floral-white" (click)="confirmar()">Aceptar</button>
</mat-dialog-actions>
