<mat-toolbar fxLayout="row" mat-dialog-title color="primary">
  <div fxFlex>
    Confirmar eliminación
  </div>
  <span fxFlex class="flex-spacer"></span>
  <div fxFlex  align="end">
    <button mat-button mat-dialog-close>&times;</button>
  </div>
</mat-toolbar>
<mat-dialog-content>
  <h5>Desea eliminar el tipo de equipo seleccionado</h5>
</mat-dialog-content>
<mat-dialog-actions>
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button mat-button class="background-primary text-floral-white" (click)="confirmar()">Aceptar</button>
</mat-dialog-actions>
