<table class="table" style="border: 1px solid black">
  <tr>
    <th>#</th>
    <th>Realizado por (ID)</th>
    <th>Nombre de usuario</th>
    <th>Hora</th>
    <th>Fecha </th>
    <th>Accion</th>
    <th>Tabla</th>
  </tr>
  <tr *ngFor="let auditory of auditories">
    <td>{{auditory.auditoryKey}}</td>
    <td>{{auditory.modifiedBy}}</td>
    <td>{{auditory.nameUser}}</td>
    <td>{{auditory.modifiedDate|date : 'hh:mm:ss'}}</td>
    <td>{{auditory.modifiedDate|date : 'dd-MM-yyyy'}}</td>
    <td>{{auditory.performedAction}}</td>
    <td>{{auditory.tableName}}</td>
  </tr>
</table>
