<div align="center">
  <h1> CHART </h1>
</div>
<div class="flex-grid">
  <div class="col"></div>
  <div class="col"></div>
  <div class="col"></div>
</div>
<div class="flex-grid">
  <div class="col">
    <mat-form-field>
      <mat-select placeholder="Dimension" [(ngModel)]="selectedValue" (change)="getChart(selectedValue)">
        <mat-option *ngFor="let dimension of dimensiones" [value]="dimension.value">
          {{ dimension.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col">
    <mat-form-field>
      <mat-select placeholder="GestionIni" [(ngModel)]="selectedGesIni">
        <mat-option *ngFor="let gestion of gestion" [value]="gestion">
          {{ gestion }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col">
    <mat-form-field>
      <mat-select placeholder="GestionFin" [(ngModel)]="selectedGesFin">
        <mat-option *ngFor="let gestion of gestion" [value]="gestion">
          {{ gestion}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col">
    <button mat-button (click)="getChartRan(selectedValue,selectedGesIni,selectedGesFin)"><h2
      class="fa fa-search fa-lg"> Buscar</h2></button>

  </div>
</div>


<div>
  <div style="display: block">
    <canvas baseChart
            [datasets]="dwfechart.reportingItemList"
            [labels]="lable"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">

    </canvas>
  </div>
</div>
